In [1]:
import datetime as dtm
dtime = dtm.datetime.now()

In [9]:
start = dtm.datetime(2011,1,7,1,21,1)
start

datetime.datetime(2011, 1, 7, 1, 21, 1)

In [11]:
start.strftime("%Y-%m-%d 00:00:00")

'2011-01-07 00:00:00'

In [8]:
start = str(start)
start

'2011-01-07 01:21:01'

In [4]:
dtime.year, dtime.month, dtime.day

(2018, 12, 15)

In [1]:
import time 
time.strftime("%Y-%m-%d %H:%M:%S")

'2018-12-15 20:34:15'

In [5]:
dtime.timetuple()

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=15, tm_hour=20, tm_min=35, tm_sec=41, tm_wday=5, tm_yday=349, tm_isdst=-1)

In [6]:
dtm.datetime.strftime(dtm.datetime.now(), '%Y-%m-%d %H:%M:%S')

'2018-12-15 20:47:45'

In [8]:
time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time( )))

'2018-12-15 20:49:17'

In [9]:
time.strftime("%Y-%m-%d %H:%M:%S")

'2018-12-15 20:50:11'

In [13]:
t1 = dtm.datetime(2018,7,12,15,6,9)
t2 = dtm.datetime(2018,9,11,12,33,23)
td = t2-t1
td

datetime.timedelta(60, 77234)

In [14]:
def parse_timedelta(td):
        """
        transform timedelta to day, hour, minute
        """
        return td.days, td.seconds//3600, (td.seconds//60)%60
    
parse_timedelta(td)

(60, 21, 27)

In [15]:
td

datetime.timedelta(60, 77234)

In [17]:
td.days,td.seconds

(60, 77234)